* {
  margin: 0; 
  padding: 0;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.move-top {
  position: fixed;
  padding: 2rem;
  border: 1px solid #cccccc;
  border-radius: 50%;
  right: 3rem;
  bottom: 3rem;
}